html, body, #root {
  background: transparent;
  overflow: hidden;

  margin: auto;
}

.AppWindow {
  width: 100vw;
  height: 100vh;

  border: 2px solid #394635;
  border-radius: 20px;
  box-sizing: border-box;
  
  background: rgba(207, 232, 201, 0.8);
}

div, img, a {
  user-select: none;
  -webkit-user-drag: none;
}

.TopBar {
  display: flex;
  justify-content: flex-end;

  -webkit-app-region: drag;
}

.CloseWindow {
  display: flex;
  position: relative;

  -webkit-app-region: no-drag;
  
  background: transparent;
  border: none;

  top: 7px;
  right: 7px;
}